<div class="aside_col">
    <ul>
        <li><a title="Aquatic Center" href="resolveuid/31e630df5c10a6e67857d91f7dac0ed3">Aquatic Center</a></li>
        <li><a title="Putah Creek Cold-water Facility" href="resolveuid/db3a73251dbe0faf56684a669c8a99c9">Putah Creek Facility</a></li>
        <li><a title="Putah Creek Cold-water Facility" href="resolveuid/db3a73251dbe0faf56684a669c8a99c9">Facility Staff</a></li>
        <li><a title="Operations &amp; Procedures" href="resolveuid/d742f5d55d78ecacb24853ed960b7d56">Operations &amp; Procedures</a>
        </li>
    </ul>
</div>
