---
layout: default
title: About
---

<div class="main">
    <div class="main_contents">
        <article>
            <h1>About Us</h1>
            <p class="lead">
                {% include lead_text.html %}
            </p>
            <div class="image-gallery">
                <div class="image_1">
                	<a href="/media/about/about_1.jpg" class="gallery">
                	<img alt="Erik Hallen" src="/media/about/about_1.jpg" srcset="/media/about/about_1.jpg 1x, /media/about/about_1@2x.jpg 2x" alt="Two people doing research in a raft" /></a>
                </div>
                <div class="small_wrapper">
                    <div class="image_2">
	                    <a href="/media/about/about_2.jpg" class="gallery">
	                    <img alt="Erik Hallen" src="/media/about/about_2.jpg" srcset="/media/about/about_2.jpg 1x, /media/about/about_2@2x.jpg 2x" alt="UC Davis student managing the facility" /></a>
	                    </div>
                    <div class="image_3">
                        <a href="/media/about/about_3.jpg" class="gallery">
                        <img alt="Erik Hallen" src="/media/about/about_3.jpg" srcset="/media/about/about_3.jpg 1x, /media/about/about_3@2x.jpg 2x" alt="Sturgeon in a tank" /></a>
                    </div>
                    <div class="image_4">
	                    <a href="/media/about/about_4.jpg" class="gallery">
	                    <img alt="Erik Hallen" src="/media/about/about_4.jpg" srcset="/media/about/about_4.jpg 1x, /media/about/about_4@2x.jpg 2x" alt="Fish being measured" /></a>
                    </div>
                </div>
            </div>
            <p>CABA and its aquatic research facilities provide the basic infrastructure to allow departments within the College of Agriculture and Environmental Sciences, as well as campus-wide, to conduct multidisciplinary and interdepartmental research and associated programs. These activities provide the scientific base to sustain California’s natural populations of aquatic species, support the technological framework of the state’s marine and freshwater aquaculture industries, and create sustainable aquaculture production.</p>
            <h3>Areas of Interest</h3>
            <ul>
                <li>Aquaculture extension and outreach</li>
                <li>Conservation of biodiversity</li>
                <li>Design and productivity of aquaculture systems</li>
                <li>Diseases of aquatic animals</li>
                <li>Environmental physiology</li>
                <li>Ecotoxicology</li>
                <li>Ecology and restoration of threatened species</li>
                <li>Population dynamics and fishery management</li>
                <li>Processing, quality and safety of aquatic products for human consumption</li>
                <li>Reproductive and developmental biology of aquatic animals</li>
                <li>Socio-economic issues of aquaculture and fisheries</li>
                <li>Seafood processing and technology</li>
                <li>Genetic Improvement</li>
            </ul>
            <!-- <h2>Additional Information</h2>
	    <p>Related departments &amp; resources:</p>
	    <div class="row">
	    	<div class="six columns">
<ul class="small_list">
<li><a href="http://www.agecon.ucdavis.edu/">Agricultural and Resource Economics</a></li><li><a href="http://animalscience.ucdavis.edu/">Animal Science</a></li>
<li><a href="http://bae.engineering.ucdavis.edu/">Biological and Agricultural Engineering</a></li><li class="break"><a href="http://wfcb.ucdavis.edu/">Wildlife, Fish and Conservation Biology</a></li><li><a href="http://www.dbs.ucdavis.edu/">Biological Sciences</a></li>
<li class="break"><a href="http://www.vetmed.ucdavis.edu/">Veterinary Medicine</a></li><li class="break"><a href="http://animalscience.ucdavis.edu/InStream/main.htm">Instream Flow Assessment Program</a></li><li><a href="http://studentaffairs.ucdavis.edu/">Current and Prospective UC Davis Students</a></li><li><a href="http://gradstudies.ucdavis.edu/">Office of Graduate Studies</a></li><li><a href="http://registrar.ucdavis.edu/UCDWebCatalog/">UC Davis General Catalog</a></li></ul></div>
	    </div> -->
        </article>
        <aside>
            {% include about_sidebar.html %}
        </aside>
    </div>
</div>
