---
layout: default
title: Aquatic Center at CABA
---
<div class="main">
    <div class="main_contents">
        <article>
        <div class="image-wrapper full-width">
            <a href="/media/facilities/aquatic_center.jpg" class="gallery"><img src="/media/facilities/aquatic_center.jpg" alt=""></a>
        </div>
            <h1>CABA Aquatic Center</h1>
            <p class="lead">
                 {% include lead_text.html %}
            </p>
            <p>The heart of CABA’s aquatic research and student training program is a five-acre facility housing three Quonset hut style wet labs one dry lab (approx. 1800sq ft. each) and one Butler style building dedicated for aquatic toxicology studies. Numerous tanks and tank systems are available both inside and outside. Tank sizes range from small 2 ft. diameter tanks to our largest at 24 ft. in diameter.</p>
            <p>CABA also has on site an array of four artificial streams. There is research and student training space for a wide range of programs in aquatic vertebrate and invertebrate ecology, reproduction, behavior, nutrition, genetics, endocrinology, disease and pathology, aquaculture engineering, aquatic toxicology, and general aquatic biology.&nbsp; About 15 species are under study at any one time.</p>
        </article>
        <aside>
            {% include facilities_sidebar.html %}
        </aside>
    </div>
</div>
