---
layout: default
title: Aquatic Biology and Aquaculture Facilities
---
<div class="main">
	<div class="main_contents">
		<article>
			<div class="image-gallery">
				<div class="image_1">
					<a href="/media/facilities/putah_creek.png" class="gallery">
					<img alt="Putah Creek" src="/media/facilities/putah_creek.png"/></a>
				</div>
				<div class="small_wrapper">
					<div class="image_2">
						<a href="/media/facilities/volunteers.png" class="gallery">
						<img alt="Putah Creek" src="/media/facilities/volunteers.png"/></a>
					</div>
					<div class="image_3">
						<a href="/media/about/about_3.jpg" class="gallery">
						<img alt="Erik Hallen" src="/media/about/about_3.jpg" srcset="/media/about/about_3.jpg 1x, /media/about/about_3@2x.jpg 2x" alt="Sturgeon in a tank" /></a>
					</div>
					<div class="image_4">
						<a href="/media/about/about_4.jpg" class="gallery">
						<img alt="Erik Hallen" src="/media/about/about_4.jpg" srcset="/media/about/about_4.jpg 1x, /media/about/about_4@2x.jpg 2x" alt="Fish being measured" /></a>
					</div>
				</div>
			</div>
			<div class="image-wrapper full-width">
				<a href="/media/facilities/putah_creek.jpg" class="gallery"><img src="/media/facilities/putah_creek.jpg" alt=""></a>
			</div>
			<h1>CABA Facilities</h1>
			<p class="lead">
				{% include lead_text.html %}
			</p>
			
			<p>The Center for Aquatic Biology &amp; Aquaculture oversees the administration of two aquatic animal facilities on the Davis campus. The CABA Aquatic Center is the heart of the CABA research support system. The CABA Putah Creek Facility (formerly the Animal Science Trout Hatchery) is a satellite facility to the main Aquatic Center.</p>
			<p>Both facilities receive well water at 17 to 19 C throughout the year. The Putah Creek facility has an additional source of ground water that varies in temperature from 10 to 20 C during the year. Each facility also has a computerized alarm system and emergency back-up generator in case of system and or power failures. The CABA staff are on call and available 24/7 in the event of an emergency.</p>
		</article>
		<aside>
			{% include facilities_sidebar.html %}
		</aside>
	</div>
</div>