---
layout: default
title: Aquatic Biology and Aquaculture Facilities
---
<div class="main">
	<div class="main_contents">
		<article>
			<h1>CABA Facilities</h1>
			<p class="lead">
				{% include lead_text.html %}
			</p>
			
			<div class="image-gallery">
				<div class="image_1">
					<a href="/media/facilities/caba_grounds.png" class="gallery">
					<img alt="CABA facilities" src="/media/facilities/caba_grounds.png"/></a>
				</div>
				<div class="small_wrapper">
					<div class="image_2">
						<a href="/media/facilities/volunteers_resize.png" class="gallery">
						<img alt="CABA volunteers" src="/media/facilities/volunteers_resize.png"/></a>
					</div>
					<div class="image_2">
						<a href="/media/facilities/aquatic_center_resize.png" class="gallery">
						<img alt="CABA facilities" src="/media/facilities/aquatic_center_resize.png"/></a>
					</div>
					
				</div>
			</div>
			
			
			
			<p>The Center for Aquatic Biology &amp; Aquaculture oversees the administration of two aquatic animal facilities on the Davis campus. The CABA Aquatic Center is the heart of the CABA research support system. The CABA Putah Creek Facility (formerly the Animal Science Trout Hatchery) is a satellite facility to the main Aquatic Center.</p>
			<p>Both facilities receive well water at 17 to 19 C throughout the year. The Putah Creek facility has an additional source of ground water that varies in temperature from 10 to 20 C during the year. Each facility also has a computerized alarm system and emergency back-up generator in case of system and or power failures. The CABA staff are on call and available 24/7 in the event of an emergency.</p>
		</article>
		<aside>
			{% include facilities_sidebar.html %}
		</aside>
	</div>
</div>