---
layout: default
title: Putah Creek Facility at CABA
---
<div class="main">
    <div class="main_contents">
        <article>
        <div class="image-wrapper full-width">
            <a href="/media/facilities/putah_creek.jpg" class="gallery"><img src="/media/facilities/putah_creek.jpg" alt=""></a>
        </div>
            <h1>CABA Putah Creek Facility</h1>
            <p class="lead">
                 {% include lead_text.html %}
            </p>
            <p>The Putah Creek facility consists of two buildings for inside work (approx. 1800 sq. ft.) with an office trailer and tool room. This facility has mainly large diameter tank systems (7’ to 20’ dia.) suitable for large species of fish or for use in mesocosm studies.</p>
        </article>
        <aside>
            {% include facilities_sidebar.html %}
        </aside>
    </div>
</div>
